<h2>Products</h2>

<button (click)="condition = !condition">
  Toggle condition to {{condition}}
</button>

<p *appUnless="condition">Show this sentence unless the condition is false.</p>

<div *ngFor="let product of products; index as productId">
  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]" appHighlight defaultColor="violet">
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description" appHighlight="yellow">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
    Share
  </button>

  <app-product-alerts
    [product]="product"
    (notify)="onNotify()"
  >
  </app-product-alerts>
</div>
